@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #fffaed;
    font-family: sans-serif;
    color: #222;
}

html {
    scroll-behavior: smooth;
}

/* Naviagtion */

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #222;
    text-decoration: none;
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 30px 5%;
    gap: 30%;
    position: relative;
}

.logo {
    cursor: pointer;
}

.nav_links{
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}


.menu-icon {
  display: none;
  cursor: pointer;
}
/*Sections*/

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/*Profile*/

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 90vh;
}

.pic_container {
    display: flex;
    height: 500px;
    width: 500px;
    margin: auto 0;
}
.section_text {
    align-self: center;
    text-align: center;
}

.section_text p {
    font-weight: 600;
}

.section_text_p1 {
    text-align: center;
}

.section_text_p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: rgba(86, 85, 85, 0.775);
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/*icons*/

.icon {
    cursor: pointer;
    height: 2rem;
}

/*button*/

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}


/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
    margin-top: 20%;
    width: 340px;
    height: 500px;
  border-radius: 2rem;
}


.details-container {
  padding: 1.5rem;
  flex: 1;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}


@media (max-width: 922px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {
    /*Responsive Navigation menu*/
  .menu-icon {
    display: block;
    position: absolute;
    right: 5%;
  }

  .navbar {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: center;
  }

  .navbar.active {
    display: flex;
  }

    .nav_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}



