@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fffaed;
}

body {
    font-family: sans-serif;
    color: #222;
}

/* Naviagtion */

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #222;
    text-decoration: none;
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 30px 5%;
    gap: 30%;
    position: relative;
}

.logo {
    cursor: pointer;
}

.nav_links{
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

